#footer {
  background: $grey-mid;
  padding: 30px 0;
  color: $grey-light;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: $blue;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: $yellow;
}
